// reset
@import './styles/normalize.css';

// scss imports
@import './styles/variables.scss';
@import './styles/mixins.scss';
@import './styles/components.scss';

// components
@import './components/Header';

// some default styles
body {
  font-family: 'Kumbh Sans', sans-serif;
}

p,
a {
  font-size: 16px;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: $dark-grayish-blue;
}

@media screen and (min-width: $desktop) {
  body {
    padding: 0 10%;
  }
}
