@mixin flex ($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin button-reset() {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
